{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}

{% block title %}GE - ALUNOS{% endblock %}

{% block content %}

<h2 class="h2-cadastro">Alunos</h2>



<div class="p-1 p-sm-4">
    <form action="?"  class=" p-4 campo-pesquisar" method="GET">

        <input type="text" name="nome"  id="input-pesquisar" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome">

        <button type="submit" class="btn btn-primary ">Buscar</button>

        <a href="{% url 'core:lista_alunos' %}" class="btn btn-light">Limpar</a>

    </form>

    <div class="col-4 p-3 d-flex">
        <a class="btn btn-primary me-auto" href="{% url 'core:cadastrar_aluno' %}" role="button">
            <i class="bi bi-plus-circle"></i>
            Adicionar
        </a>

        <a class="btn btn-primary me-auto" href="{% url 'core:alunos_pdf' %}" role="button">
            <i class="bi bi-plus-circle"></i>
            Exportar
        </a>
    </div>
    <div class="mt-1 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">DATA NASCIMENTO</th>
                    <th scope="col">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
            {% for aluno in object_list %}
                <tr>
                    <td>{{ forloop.counter }} </td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.cpf}}</td>
                    <td>{{aluno.data_nascimento}}</td>
                    <td>
                        <a class="btn btn-primary me-auto" href="{% url 'core:cadastrar_aluno' %}" role="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>

                        <a class="btn btn-primary me-auto" href="{% url 'core:aluno_update' aluno.id%}" role="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Editar
                        </a>

                        <a class="btn btn-danger me-auto" href="{% url 'core:aluno_delete' aluno.id%}" role="button">
                            <i class="fa-solid fa-trash"></i>
                            Apagar
                         </a>
                        </i>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Sem resultados.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                    {% if request.GET.nome %}
                    <li class="page-item "><a class="page-link" href="?page=1&nome={{request.GET.nome}}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">1</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">1</a></li>
                    {% endif %}
                {% endif %}

                <!-- {% for page in page_obj %}
                {% endfor %} -->
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}  
                    {% if request.GET.nome %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Next</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
          </nav>
          
    </div>
</div>
{% endblock %}