{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}



{% block title %}GE - CADASTRAR SERVIDOR{% endblock %}

{% block content %} 
<h2 class="h2-servidor-cadastro">CADASTRAR SERVIDOR</h2>
<p class="aviso">Os campos com * são de preenchimento obrigatório</p>


<form class="form-servidor" action="/cadastrar_servidor/" method="post">
    {% csrf_token %}
    
    <div class="row">
        <div class="col-7">
        {{ form.nome.errors }}
        <label for="{{ form.nome.id_for_label }}" class="form-label">Nome *</label>
        {% render_field form.nome class+="form-control" placeholder="Nome" %}

        </div>

        <div class="col-3">
            {{ form.data_nascimento.errors }}
            <label for="{{ form.data_nascimento.id_for_label }}" class="form-label">Data de Nascimento *</label>
            {% render_field form.data_nascimento class+="form-control" placeholder="Data de Nascimento" %}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {{ form.sexo.errors }}
            <label for="{{ form.sexo.id_for_label }}" class="form-label">Sexo *</label>
            {% render_field form.sexo class+="form-select" placeholder="Sexo" %}
        </div>

        <div class="col-4">
            {{ form.cpf.errors }}
            <label for="{{ form.cpf.id_for_label }}" class="form-label">Cpf *</label>
            {% render_field form.cpf class+="form-control" placeholder="Cpf" %}
        </div>

        <div class="col-4">
            {{ form.telefone.errors }}
            <label for="{{ form.telefone.id_for_label }}" class="form-label">Telefone *</label>
            {% render_field form.telefone class+="form-control" placeholder="Telefone" %}
        </div>
    </div>
    
    <div class="mb-3">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}" class="form-label">Email *</label>
        {% render_field form.email class+="form-control" placeholder="Email" %}
    </div>

    <div class="mb-3">
        {{ form.estado_civil.errors }}
        <label for="{{ form.estado_civil.id_for_label }}" class="form-label">Estado Civil *</label>
        {% render_field form.estado_civil class+="form-select" placeholder="Estado Civil" %}
    </div>


    <div class="mb-3">
        {{ form.cep.errors }}
        <label for="{{ form.cep.id_for_label }}" class="form-label">Cep </label>
        {% render_field form.cep class+="form-control" placeholder="Cep" %}
    </div>

    <div class="mb-3">
        {{ form.endereco.errors }}
        <label for="{{ form.endereco.id_for_label }}" class="form-label">Endereço *</label>
        {% render_field form.endereco class+="form-control" placeholder="Endereço" %}
    </div>

    <div class="mb-3">
        {{ form.zona.errors }}
        <label for="{{ form.zona.id_for_label }}" class="form-label">Zona *</label>
        {% render_field form.zona class+="form-select" placeholder="Zona" %}
    </div>

    <div class="mb-3">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="form-label">Login *</label>
        {% render_field form.username class+="form-control" placeholder="Login" %}
    </div>

    <div class="mb-3">
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}" class="form-label">Senha *</label>
        {% render_field form.password1 class+="form-control" placeholder="Senha" %}
    </div>

    <div class="mb-3">
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Senha *</label>
        {% render_field form.password2 class+="form-control" placeholder="Confirmar Senha" %}
    </div>
    <button class="btn btn-primary">Salvar</button>
</form>

{% endblock %}