{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}



{% block title %}GE - CADASTRAR TURMA{% endblock %}

{% block content %}

<h2 class="h2-cadastro">CADASTRAR TURMA</h2>
<p class="aviso">Os campos com * são de preenchimento obrigatório</p>


{% if turma.id > 0 %}
<form class="form-background" action="{% url 'core:editar_turma' turma.id %}" method="post">
{% else%}
<form class="form-background" action="{% url 'core:cadastrar_turma' %}" method="post">
{% endif %}
    {% csrf_token %}
    {{forms.errors}}
    
    <div class="row row-espacamento">
        <div class="col-7">
        {{ form.nome.errors }}
        <label for="{{ form.nome.id_for_label }}" class="form-label">Nome<label class="elemento-asterisco">*</label></label>
        {% render_field form.nome class+="form-control" placeholder="Nome" %}

        </div>

        <div class="col-4">
            {{ form.sala.errors }}
            <label for="{{ form.sala.id_for_label }}" class="form-label">Sala <label class="elemento-asterisco">*</label></label>
            {% render_field form.sala class+="form-control" placeholder="Sala" %}
        </div>
    </div>

    <div class="row row-espacamento">
        <div class="col-4">
            {{ form.turno.errors }}
            <label for="{{ form.turno.id_for_label }}" class="form-label">Turno <label class="elemento-asterisco">*</label></label>
            {% render_field form.turno class+="form-select" placeholder="Turno" %}
        </div>

        <div class="col-4">
            {{ form.tipo_atendimento.errors }}
            <label for="{{ form.tipo_atendimento.id_for_label }}" class="form-label">Tipo Atendimento <label class="elemento-asterisco">*</label></label>
            {% render_field form.tipo_atendimento class+="form-select" placeholder="Tipo Atendimento" %}
        </div>
    </div>

    <div>
        {{ form.dia_semana.errors }}
        <label for="{{ form.nome.id_for_label }}" class="form-label">Dias da Semana<label class="elemento-asterisco">*</label></label><br>
        {{ form.dia_semana }}
    </div>

    <div class="mt-5">
        {{ form.disciplina.errors }}
        <label for="{{ form.nome.id_for_label }}" class="form-label">Disciplinas<label class="elemento-asterisco">*</label></label><br>
        {% render_field form.disciplina class+="" %}
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-salvar me-md-2"> <i class="fa-solid fa-check"></i> Salvar</button>
    </div>
</form>
{% endblock %}