{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}

{% block title %}GE - CADASTRAR SERVIDOR{% endblock %}

{% block content %} 
<h2 class="h2-cadastro">Escola</h2>
<form class="form-background">
        <img width=150 height="150"  src="{% static 'imagens/escola.svg' %}" class="card-img-bottom" alt="...">
        <div class="m-5 mx-auto">
                 
                    <div class="row row-espacamento m-3">
                        <div class="col-6  m-3">
                            <label class="form-label">Nome : </label>
                            <td class="campo-visualizar">Escola Estadual da Computação</td>
                        </div>
                        <div class="col-5  m-3">
                            <label class="form-label">Inep : </label>
                            <td class="campo-visualizar">5566732</td>
                        </div>
                    </div>
            
                    <div class="row row-espacamento  m-3">
                        
                        <div class="col-6  m-3">
                            <label class="form-label ">Endereço</label>
                            <td class="campo-visualizar">Rua João Cabral</td>
                        </div>
                        <div class="col-5  m-3">
                            <label class="form-label">Telefone: </label>
                            <td class="campo-visualizar">(86) 3213-2547</td>
                        </div>
                    </div>
            
                    <div class="row row-espacamento  m-3">
                        <div class="col-6  m-3">
                            <label class="form-label">Cep: </label>
                            <td class="campo-visualizar">64.002-150</td>
                        </div>
                        <div class="col-5  m-3">
                            <label class="form-label">Modalidades: </label>
                            <td class="campo-visualizar">Ensino Fundamental e Médio</td>
                            
                        </div>
                    </div> 
                
        </div>
</form>       




{% endblock %}