{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}

{% block title %}GE - HOME SERVIDOR{% endblock %}

{% block content %} 
<h2 class="h2-cadastro">Professor</h2>
<div class="container ">
    <div class="img-professor">
        <img width="250" height="250" src="{% static 'imagens/professor.png' %}" class="center mx-auto" alt="...">
        <!--button>Alterar Imagem</button-->
    </div>
    <div class="m-5 border p-4">        
        <div class="row p-1 ">
            <div class="col text-start">
                <span class="form-label">Nome: </span>
                <span class="campo-visualizar">{{user.ome}}</span>
            </div>
            <div class="col">
                <span class="form-label">Vínculo: </span>
                <span class="campo-visualizar">Efetivo</span>
            </div>
        </div>

        <div class="row p-1">
            
            <div class="col">
                <span class="form-label">Endereço: </span>
                <span class="campo-visualizar">{{user.endereco}}</span>
            </div>
            <div class="col">
                <span class="form-label">Telefone: </span>
                <span class="campo-visualizar">{{user.telefone}}</span>
            </div>
        </div>

        <div class="row p-1">
            <div class="col">
                <span class="form-label">Função: </span>
                <span class="campo-visualizar">Docente</span>
            </div>
            <!--div class="col">
                <p class="form-label">Escola:</p>
                <span class="campo-visualizar">Escola Estadual da Computação</span>
            </div-->
        </div> 
    </div> 
</div>



{% endblock %}