{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}GE - HOME {% endblock %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %}

{% block content %} 
<h2 class="h2-cadastro p-3">SEJA BEM VINDO!</h2>
<div class="container text-center">
    <div class="w-100 mt-4 row row-cols-3 justify-content-center gy-3 gx-5">
        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/escola.svg' %}">
                <p>Escola</p>
                <a class="stretched-link" href="{% url 'core:visualizar_escola'%}"></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/servidor.svg' %}">
                <p>Servidores</p>
                <a class="stretched-link" href="{% url 'core:lista_servidores'%}"></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/alunos.png' %}">
                <p>Alunos</p>
                <a class="stretched-link" href="{% url 'core:lista_alunos'%}"></a>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/turma.png' %}">
                <p>Turma</p>
                <a class="stretched-link" href="{% url 'core:lista_turmas'%}"></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/matricula.png' %}">
                <p>Matrícula</p>
                <a class="stretched-link" href="{% url 'core:cadastrar_servidor'%}"></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative border ge-card">
                <img src="{% static 'imagens/relatorio.png' %}">
                <p>Relatório</p>
                <a class="stretched-link" href="{% url 'core:ge_relatorios'%}"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}