{% extends 'core/base/base.html' %}
{% load static widget_tweaks %}

{% block title %}GE - VISUALIZAR ALUNO{% endblock %}

{% block content %}
<h2 class="h2-cadastro">ALUNO</h2>

<form class="form-background">
  <tr> 
      <div class="row row-espacamento">
          <div class="col-6">
              <label class="form-label">Nome : </label>
              <td class="campo-visualizar">{{object.nome}}</td>
          </div>
          <div class="col-5">
              <label class="form-label">Data de Nascimento : </label>
              <td class="campo-visualizar">{{object.data_nascimento}}</td>
          </div>
      </div>

      <div class="row row-espacamento">
        <div class="col-4">
            <label class="form-label">Sexo : </label>
            {% if object.sexo == "F"%}
            <td class="campo-visualizar">Feminino</td>
            {% elif object.estado_civil == "B" or object.estado_civil == "N" or object.estado_civil == ""  %}
                <td class="campo-visualizar">Não informado</td>
            {%elif object.sexo == "M" %}
                <td class="campo-visualizar">Masculino</td>
            {%endif%}
                
        </div>
        <div class="col-4">
            <label class="form-label">Cpf : </label>
            <td class="campo-visualizar">{{object.cpf}}</td>
        </div>

        <div class="col-3 offset-lg-1">
          <label class="form-label">Estado Civil: </label>
          
          {% if object.estado_civil == "C"%}
              <td class="campo-visualizar">Casado(a)</td>
          {% elif object.estado_civil == "B"  %}
              <td class="campo-visualizar">Não informado</td>
          {% else %}
              <td class="campo-visualizar">Solteiro(a)</td>
          {% endif %}
        </div>
      </div>
    
      <div class="row row-espacamento">
        <div class="col-7">
            <label class="form-label">Email: </label>
            <td class="campo-visualizar">{{object.email}}</td>
        </div>
      </div>

      <div class="row row-espacamento">
        <div class="col-4">
          <label class="form-label">Cep: </label>
          <td class="badge bg-secondary" >{{object.cep}}</td>
        </div>

        <div class="col-4">
          <label class="form-label">Endereço : </label>
          <td class="campo-visualizar">{{object.endereco}}</td>
        </div>

        <div class="col-4">
          <label class="form-label">Zona: </label>
              {% if object.zona == "B"%}
                  <td class="campo-visualizar">Não informado</td>
              {% elif object.zona == "R" %}
                  <td class="campo-visualizar">Rural</td>
              {% else %}
                  <td class="campo-visualizar">Urbana</td>
              {% endif %}
        </div>

      </div>

      <div class="row row-espacamento">
        <div class="col-6">
            <label class="form-label">Nome da Mãe : </label>
            <td class="campo-visualizar">{{object.nome_da_mae}}</td>
        </div>
        <div class="col-5">
            <label class="form-label">Cpf da mae : </label>
            <td class="campo-visualizar">{{object.cpf_da_mae}}</td>
        </div>
      </div>

      <div class="row row-espacamento">
        <div class="col-6">
            <label class="form-label">Nome do Pai : </label>
            <td class="campo-visualizar">{{object.nome_do_pai}}</td>
        </div>
        <div class="col-5">
            <label class="form-label">Cpf do Pai : </label>
            <td class="campo-visualizar">{{object.cpf_do_pai}}</td>
        </div>
      </div>

      <div class="row row-espacamento">
        <div class="col-6">
            <label class="form-label">Responsavel : </label>
            <td class="campo-visualizar">{{object.responsavel}}</td>
        </div>
      </div>
  </tr>
</form>
{% endblock %}





