<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'core:lista_servidores'%}">
            <i class="icon fa-solid fa-users-line me-1"></i>
            Servidores
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:lista_alunos'%}">
            <i class="icon fa-sharp fa-solid fa-children me-1"></i>
            Alunos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:listar_matricula'%}">
            <i class="icon fa-solid fa-user-plus me-1"></i>
            Matrículas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:lista_turmas'%}">
            <i class="icon fa-solid fa-book me-1"></i>
            Turmas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:ge_relatorios'%}">
            <i class="icon fas fa-chart-line me-1"></i>
            Relatórios
        </a>
    </li>
</ul>