@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --azul-claro: rgba(7, 119, 163, 1);
    --azul-escuro : rgba(0, 88, 122, 1);
    --branco:rgb(255, 255, 255);
    --cinza-transparente: rgba(196, 196, 196, 0.2);
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    color: var(--branco);
   
    /* color: white; */
}

table{
    width: 100%;
    height: 100%;
    border: none;
    position:absolute;
    text-align: center;
    border-collapse: collapse;
    
}
th .nav-admin{
    height: 10px;
    border: none;
}

td a{
    text-decoration: none;
    padding: 15px;
}
td a:hover{
    background-color:var(--cinza-transparente) ;
}
tr {
    margin: 0;
    border: none;
}
tr .nav-admin{
    background-color: var(--azul-claro);
    /* width: 20rem; */
    width: 15rem;
    height: 6rem;
}
.nav-column{
    background-color: var(--azul-escuro);
    margin: 0;
    
}
.ge-card {
    width: 12rem;
    background-color: #f8fffa;
    padding: 1rem 1rem;
}
.ge-card img{
    width: 80%;
}
.ge-card p {
    margin-top: 0.75rem;
    padding: 0px;
    margin-bottom: 0px;
    color: black;
    font-weight:500 ;
    font-size: 2rem;
}

